@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
body {
  background-image: url(txwpfp.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 40px;
}

h1 {
  font-weight: normal;
  font-size: 72px;
  font-family: Bebas Neue;
  padding-bottom: 350px;
  text-align: left;
}
