*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cantarell", sans-serif;
    font-size: 12px;
    background-color: #11111b;
    background-image: url(images/misc/background-alt.svg);

}

.pfplogo {
    border-radius: 100%;
}

.icon {
    color: #cad3f5;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #11111b;
    width: 100%;
    position: fixed;
    height: 40px;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #1e1e2e;
}

.page {
    width: 1200px;
    margin: auto;
}

.container {
    display: flex;
  }

  .text {
    margin: 10px;
    font-size: 8px;    
    width: 100%;
  }
.githubio {
    color: #A6E3A1;
    font-size: 10px;
}

.PixelArtRetro {
    padding-left: 40px;
    transition: all 0.5s;
}

.PixelArtRetro :hover {
    padding-left: 60px;
    transition: all 0.5s;
}

.spacer {
    padding-bottom: 76px;
}

.greet {
    color: #cad3f5;
    margin: 50px;
    margin-top: 100px;
    margin-bottom: 80px;
    font-size: 250%;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bio{
    width: 510px;
    color: #cad3f5;
    padding: 22px;
    border: 1px solid #1e1e2e;
    background-color: #11111b;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    margin: 50px;
}

.window-border-spacer{
    border-bottom: 1px solid #1e1e2e;
    margin-bottom: 18px;
}

.macbuttons {
    margin-bottom: 18px;
}

.bio-spacer {
    margin-bottom: 22px;
}

yellow {
    color: #F9E2AF;
}

red {
    color: #F38BA8;
}

green {
    color: #A6E3A1;
}

blue {
    color: #89B4FA;
}

dim {
    opacity: 25%;
}

.link {
    text-decoration: none;
    font: 20px;
    color: #cad3f5;
    font-weight: bolder;
    font-style: unset;
    padding: 10px;
    background-color: #11111b;
    transition-duration: 0.3s;
    margin-right: 13px;
}

.githublink {
    color: #A6E3A1;
    border-radius: 4px;
}

.githublink:hover {
    color: #11111b;
    background-color: #A6E3A1;
}

.discorlink {
    color: #89B4FA;
    border-radius: 4px;
}

.linkslink {
    color: #F38BA8;
    border-radius: 4px;
}

.linkslink:hover {
    color: #11111b;
    background-color: #F38BA8;
}

.discorlink:hover {
    color: #11111b;
    background-color: #89B4FA;
}

.buttonz {
    margin: 13px;
    margin-left: calc(100% - 343px - 13px - 13px - 13px);
    display: inline-block;
}

/*.butnz {
    padding-left: 13px;
}*/

.buttonz-disco {
    margin-top: 0px;
    display: inline-block;
}