*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cantarell", sans-serif;
    font-size: 62.5%;
    font-size: 12px;
    background-color: #11111b;
}

.pfplogo {
    border-radius: 100%;
}

.icon {
    color: #cad3f5;
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #11111b;
    width: 100%;
    position: fixed;
    
    padding: 10px;
    border-bottom: 1px solid #1e1e2e;
}

.page {
    width: 1000px;
    margin: auto;
}

.container {
    display: flex;
  }

  .text {
    margin: 10px;
    font-size: 8px;    
    width: 100%;
  }
.githubio {
    color: #A6E3A1;
    font-size: 10px;
}

.PixelArtRetro {
    padding-left: 40px;
    transition: all 0.5s;
}

.PixelArtRetro :hover {
    padding-left: 60px;
    transition: all 0.5s;
}

.spacer {
    padding-bottom: 76px;
}

.bio{
    width: 410px;
    margin: 50px;
    color: #cad3f5;
    padding: 10px;
    border: 1px solid #1e1e2e;
    background-color: #11111b;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.bio-spacer {
    margin-bottom: 10px;
}

yellow {
    color: #F9E2AF;
}

green {
    color: #A6E3A1;
}

dim {
    opacity: 25%;
}